-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: localhost    Database: qesgs
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `answers`
--

DROP TABLE IF EXISTS `answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `answers` json DEFAULT NULL,
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `category_id` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `question_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answers`
--

LOCK TABLES `answers` WRITE;
/*!40000 ALTER TABLE `answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `answers_confirm`
--

DROP TABLE IF EXISTS `answers_confirm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answers_confirm` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `answers` json DEFAULT NULL,
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `category_id` int(11) DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answers_confirm`
--

LOCK TABLES `answers_confirm` WRITE;
/*!40000 ALTER TABLE `answers_confirm` DISABLE KEYS */;
/*!40000 ALTER TABLE `answers_confirm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `desc` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `child` tinyint(4) DEFAULT NULL,
  `parent_id` int(11) DEFAULT NULL,
  `company_code` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `haschild` tinyint(4) DEFAULT '0',
  `part` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT '',
  `order` int(11) DEFAULT '0',
  `user_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (9,'洹쇰줈議곌굔1','洹쇰줈議곌굔1',1,11,'sam1',0,'',0,NULL,'2019-10-17 10:27:43'),(10,'洹쇰줈議곌굔2','洹쇰줈議곌굔2',1,11,'sam1',0,'',0,NULL,'2019-10-17 10:27:43'),(11,'洹쇰줈議곌굔','?쇰컲愿由ъ“??,0,NULL,'sam1',0,'',0,NULL,'2019-10-17 10:27:43'),(12,'?쇰컲愿由?,'?쇰컲愿由ъ“??,0,NULL,'sam1',0,'',1,NULL,'2019-10-17 10:27:43'),(13,'?섍꼍','?섍꼍愿由ъ“??,0,NULL,'sam1',0,'',2,NULL,'2019-10-17 10:27:43');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ccampaignmapping`
--

DROP TABLE IF EXISTS `ccampaignmapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ccampaignmapping` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ccode` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ccampaignmapping`
--

LOCK TABLES `ccampaignmapping` WRITE;
/*!40000 ALTER TABLE `ccampaignmapping` DISABLE KEYS */;
INSERT INTO `ccampaignmapping` VALUES (1,'261843f0-f20a-11e9-b229-35cb6b856b9e','sam1'),(2,'261843f0-f20a-11e9-b229-35cb6b856b9e','amo1'),(4,'e8dee520-f209-11e9-b229-35cb6b856b9e','sam1'),(5,'e8dee520-f209-11e9-b229-35cb6b856b9e','amo2'),(9,'43bac860-f20a-11e9-b229-35cb6b856b9e','sam1'),(10,'43bac860-f20a-11e9-b229-35cb6b856b9e','amo1');
/*!40000 ALTER TABLE `ccampaignmapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ccampaigns`
--

DROP TABLE IF EXISTS `ccampaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ccampaigns` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `uid` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `user_id` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `name` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `activated` tinyint(4) DEFAULT '0',
  `ccode` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '-1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uid_UNIQUE` (`uid`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ccampaigns`
--

LOCK TABLES `ccampaigns` WRITE;
/*!40000 ALTER TABLE `ccampaigns` DISABLE KEYS */;
INSERT INTO `ccampaigns` VALUES (11,'e8dee520-f209-11e9-b229-35cb6b856b9e','210CF7AA5E2182C9C9D4511F88FE2789','test','2019-11-04 23:48:53',0,'fc003c60-e419-11e9-9c83-6d83c5bad2e1'),(12,'261843f0-f20a-11e9-b229-35cb6b856b9e','210CF7AA5E2182C9C9D4511F88FE2789','瑜대툕濡좎젣?꾩닔','2019-11-04 23:49:01',1,'fc003c60-e419-11e9-9c83-6d83c5bad2eb'),(13,'43bac860-f20a-11e9-b229-35cb6b856b9e','210CF7AA5E2182C9C9D4511F88FE2789','?덀뀍?덀뀍?덀뀍','2019-11-07 22:20:36',1,'9e12c370-fee0-11e9-bed3-71c5e6e1125d');
/*!40000 ALTER TABLE `ccampaigns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ccategories`
--

DROP TABLE IF EXISTS `ccategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ccategories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ccode` varchar(128) CHARACTER SET latin1 DEFAULT NULL,
  `data` json DEFAULT NULL,
  `descs` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT '',
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `code` varchar(255) NOT NULL DEFAULT '0',
  `isdefault` tinyint(4) DEFAULT '0',
  `user_id` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ccategories`
--

LOCK TABLES `ccategories` WRITE;
/*!40000 ALTER TABLE `ccategories` DISABLE KEYS */;
INSERT INTO `ccategories` VALUES (7,'sam1','[{\"id\": \"c41b90f9-6147-4c95-9396-e8f1c56e09e6\", \"name\": \"洹쇰줈議곌굔\", \"children\": [{\"id\": \"153b23a7-a5eb-4e29-9eda-95540ab95614\", \"name\": \"洹쇰줈議곌굔2\"}, {\"id\": \"aea996ee-6a25-407f-9950-a7ab09b1d48b\", \"name\": \"洹쇰줈議곌굔1\"}]}, {\"id\": \"7740eaec-9657-4f3c-bab6-4a79b81eb8c6\", \"name\": \"?쇰컲愿由?", \"children\": []}]','','2019-11-03 14:32:53','fc003c60-e419-11e9-9c83-6d83c5bad2eb',0,'210CF7AA5E2182C9C9D4511F88FE2789','?쇰컲 洹쇰줈 議곌굔'),(11,'sam1','[{\"id\": \"7740eaec-9657-4f3c-bab6-4a79b81eb8c6\", \"name\": \"?쇰컲愿由?", \"children\": []}, {\"id\": \"c41b90f9-6147-4c95-9396-e8f1c56e09e6\", \"name\": \"洹쇰줈議곌굔\", \"children\": [{\"id\": \"153b23a7-a5eb-4e29-9eda-95540ab95614\", \"name\": \"洹쇰줈議곌굔2\"}, {\"id\": \"aea996ee-6a25-407f-9950-a7ab09b1d48b\", \"name\": \"洹쇰줈議곌굔1\"}]}, {\"id\": \"2a3d4cf0-e45e-11e9-b712-53f35f07e0ea\", \"name\": \"?섍꼍 議곌굔\", \"children\": []}]','','2019-11-03 23:01:55','fc003c60-e419-11e9-9c83-6d83c5bad2e1',0,'210CF7AA5E2182C9C9D4511F88FE2789','?뱀닔 洹쇰줈 議곌굔'),(12,'sam1','[{\"id\": \"c41b90f9-6147-4c95-9396-e8f1c56e09e6\", \"name\": \"洹쇰줈議곌굔\", \"children\": [{\"id\": \"aea996ee-6a25-407f-9950-a7ab09b1d48b\", \"name\": \"洹쇰줈議곌굔1\"}, {\"id\": \"153b23a7-a5eb-4e29-9eda-95540ab95614\", \"name\": \"洹쇰줈議곌굔2\"}]}, {\"id\": \"7740eaec-9657-4f3c-bab6-4a79b81eb8c6\", \"name\": \"?쇰컲愿由?", \"children\": []}]','','2019-11-03 23:02:10','fc003c60-e419-11e9-9c83-6d83c5bad2e3',0,'210CF7AA5E2182C9C9D4511F88FE2789','??洹쇰줈 議곌굔'),(14,NULL,NULL,'','2019-11-04 17:53:49','9e12c370-fee0-11e9-bed3-71c5e6e1125d',0,'210CF7AA5E2182C9C9D4511F88FE2789','誘몄슫利앷텒'),(15,NULL,'[{\"id\": \"f0df60f0-fef3-11e9-a39c-6576da819986\", \"name\": \"AWS2\", \"children\": [{\"id\": \"f7188c80-fef3-11e9-a39c-6576da819986\", \"name\": \"AWS2-1\"}]}]','?닿쾬? ?꾩꽕???덉쟾?쒖씠??','2019-11-04 21:23:32','329cfe70-feeb-11e9-a39c-6576da819986',0,'210CF7AA5E2182C9C9D4511F88FE2789','利앷텒?щ뱾??);
/*!40000 ALTER TABLE `ccategories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_info`
--

DROP TABLE IF EXISTS `company_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_info` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(45) DEFAULT NULL,
  `name` varchar(45) DEFAULT NULL,
  `desc` varchar(45) DEFAULT NULL,
  `part` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_UNIQUE` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_info`
--

LOCK TABLES `company_info` WRITE;
/*!40000 ALTER TABLE `company_info` DISABLE KEYS */;
INSERT INTO `company_info` VALUES (1,'amo1','?꾨え???쇱떆??,'?꾨え???쇱떆??,NULL),(2,'sam1','?쇱꽦?꾩옄 ?ъ뾽遺','?쇱꽦 ?꾩옄 ?ъ뾽遺',NULL),(3,'amo2','?꾨え???쇱떆??寃쎌쁺遺','?꾨え??寃쎌뿭',NULL);
/*!40000 ALTER TABLE `company_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cportfolio`
--

DROP TABLE IF EXISTS `cportfolio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cportfolio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pid` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `name` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `user_id` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `companies` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cportfolio`
--

LOCK TABLES `cportfolio` WRITE;
/*!40000 ALTER TABLE `cportfolio` DISABLE KEYS */;
INSERT INTO `cportfolio` VALUES (1,'a367803b-96f8-402a-b118-37e3bc817415','?꾨え??洹몃９','210CF7AA5E2182C9C9D4511F88FE2789','[\"amo1\", \"sam1\"]');
/*!40000 ALTER TABLE `cportfolio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cquestions`
--

DROP TABLE IF EXISTS `cquestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cquestions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` varchar(255) DEFAULT NULL,
  `data` json DEFAULT NULL,
  `order` int(11) DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `type` varchar(45) DEFAULT NULL,
  `activate` tinyint(4) DEFAULT '1',
  `revision` int(11) NOT NULL DEFAULT '0',
  `name` varchar(255) DEFAULT NULL,
  `cid` varchar(128) DEFAULT '',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='type ''select'' radio, type ''file'', type ''text'', type ''table'', type ''check''';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cquestions`
--

LOCK TABLES `cquestions` WRITE;
/*!40000 ALTER TABLE `cquestions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cquestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) DEFAULT NULL,
  `data` json DEFAULT NULL,
  `order` int(11) DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `type` varchar(45) DEFAULT NULL,
  `company_id` int(11) DEFAULT '0',
  `activate` tinyint(4) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='type ''select'' radio, type ''file'', type ''text'', type ''table'', type ''check''';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_info`
--

DROP TABLE IF EXISTS `user_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_info` (
  `id` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(45) DEFAULT NULL,
  `profile` varchar(45) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `user_name` varchar(45) DEFAULT NULL,
  `first_name` varchar(45) DEFAULT NULL,
  `last_name` varchar(45) DEFAULT NULL,
  `phone` varchar(45) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(45) DEFAULT NULL,
  `country` varchar(45) DEFAULT NULL,
  `postal_code` varchar(45) DEFAULT NULL,
  `about` varchar(255) DEFAULT NULL,
  `code` varchar(45) DEFAULT '',
  `level` int(11) DEFAULT '0',
  `company_code` varchar(45) DEFAULT NULL,
  `date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `agreement` tinyint(4) DEFAULT '0',
  `part` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_info`
--

LOCK TABLES `user_info` WRITE;
/*!40000 ALTER TABLE `user_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_info` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-12-09 23:58:53
